<div class="container-fluid px-3">
    <h3 class="text-center my-3">Visual Feast Netlify Dynamic Site Challenge</h3>
    <div class="alert alert-info p-2" role="alert">
        <h6 class="text-center mb-0">Netlify Image CDN Url<span class="fw-normal"> => {{previewUrl}}</span></h6>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex flex-wrap gap-3">
                @for (image of images; track $index; ) {
                <img class="shadow" [src]="image" alt="Slide" (click)="selectImage(image, $index)" width="100"
                    height="100" [class.selected]="$index === selectedImageIndex">
                <!-- <img class="shadow" [src]="image.urls.small" alt="Slide" (click)="selectImage(image.urls.small, $index)"
                    width="100" height="100" [class.selected]="$index === selectedImageIndex"> -->
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="preview shadow text-center">
                @if (selectedImage) {
                <img [src]="selectedImage" alt="Selected Image">
                } @else {
                img not selected
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row mb-3">
                        <label class="col-sm-5" for="width">Width:</label>
                        <input type="number" class="form-control col" id="width" [(ngModel)]="width"
                            (ngModelChange)="generateImageUrl()" min="1" required>
                    </div>
                    <div class="col form-group row mb-3">
                        <label class="col-sm-5" for="height">Height:</label>
                        <input type="number" class="form-control col" id="height" [(ngModel)]="height"
                            (ngModelChange)="generateImageUrl()" min="1" required>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-5" for="quality">Quality (1-100):</label>
                        <input type="number" class="form-control col" id="quality" [(ngModel)]="quality"
                            (ngModelChange)="generateImageUrl()" min="1" max="100">
                    </div>
                    <div class="col form-group row mb-3">
                        <label class="col-sm-5" for="fit">Fit:</label>
                        <select class="form-select col" id="fit" [(ngModel)]="fit" (ngModelChange)="generateImageUrl()"
                            required>
                            @for (fit of fitOptions; track $index) {
                            <option [value]="fit">{{ fit }}</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-5" for="format">Format:</label>
                        <select class="form-select col" id="format" [(ngModel)]="format"
                            (ngModelChange)="generateImageUrl()" required>
                            @for (format of formatOptions; track $index) {
                            <option [value]="format">{{ format }}</option>
                            }
                        </select>
                    </div>
                    <div class=" form-group row mb-3">
                        <label class="col-sm-5" for="position">Position:</label>
                        <select class="form-select col" id="position" [(ngModel)]="position"
                            (ngModelChange)="generateImageUrl()" required>
                            @for (position of positionOptions; track $index) {
                            <option [value]="position">{{ position }}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger mt-3 me-2" routerLink="/blob-playground">Blob Playground</button>
        </div>
    </div>
</div>